@model IEnumerable<TheAmazingSchool.Models.Dominio.Entidades.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiraNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundaNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerceiraNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaPonderada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeiraNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundaNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerceiraNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaPonderada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
